body {
    font-family: sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

#resumen-compra, #metodo-pago {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

#imprimir-ticket {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}