* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.montserrat-montserratfont {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 1rem;
    font-style: bold;
}

/* Estilo para todo el documento en general */
html,
body {
    width: 100%;
    overflow-x: hidden;
    background: #ffffff;
    font-family: 'Lato', sans-serif;
    height: 100vh;
    margin: 0 auto;
}


.announcements {
    background-color: #DDD0C8;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1rem;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fffefe;
    padding: 1rem;
    border-bottom: 2px solid #000000;
}

.search {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    color: rgb(0, 0, 0);
    font-weight: bold;
}


/* Contenedor principal */
main {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
}


/*Aqui empieza la seccion de zapatillas*/

.shoes-items {
    display: flex;
    gap: 30px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    height: 100%;
    vertical-align: top;
}

.shoes {
    width: 100vw;
    height: 300px;

    .title {
        margin: 2rem;
        padding-bottom: 2rem;
        padding-left: 2rem;
        font-size: 1.5rem;
        font-weight: bold;
        font-family: montserrat;
    }

    article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 15rem;
        height: 100%;

    }

    img {
        width: 100%;
        height: 100%;
    }

    .desc-text {
        width: 100%;
        padding-top: 1rem;

        h3 {
            text-align: left;
            font-size: 1rem;
            font-weight: bold;
            margin-bottom: 1rem;
        }

        p {
            font-family: montserrat;
            font-size: 0.8rem;
            text-align: left;

        }
    }
}

/*Aqui termina la seccion de zapatillas*/


/*Aqui comienza seccion de camisetas*/

.shirts-items {
    display: flex;
    gap: 30px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    height: 100%;
    vertical-align: top;
}

.shirts {
    width: 100vw;
    height: 300px;

    .title {
        margin: 2rem;
        padding-bottom: 2rem;
        padding-left: 2rem;
        font-size: 1.5rem;
        font-weight: bold;
        font-family: montserrat;
    }

    article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 15rem;
        height: 100%;

    }

    img {
        width: 100%;
        height: 100%;
    }

    .desc-text {
        width: 100%;
        padding-top: 1rem;

        h3 {
            text-align: left;
            font-size: 1rem;
            font-weight: bold;
            margin-bottom: 1rem;
        }

        p {
            font-family: montserrat;
            font-size: 0.8rem;
            text-align: left;

        }
    }
}


/*Aqui termina la seccion de camisetas*/